{% extends "base.html" %}
{% block title %}
    作业管理
{% endblock %}
{% block extra_head %}
    <script type="text/javascript">
    $(function(){
        $("#l2").css("background-color","#ffffff");
    });
    </script>
    <style>
    </style>
{% endblock %}

{% block content%}
    <div style="margin:auto; padding: 0px; width: 100%;text-align: center;overflow:hidden">

    <div class="leftnav">
        <dl>
            <dt>通知</dt>
            <dd class="selectnav"><a href="{{ url_for('jobsubmit.usermessage') }}">用户通知</a></dd>
            <dt>作业提交</dt>
            <dd><a href="{{ url_for('jobsubmit.simplesub') }}">简单作业</a></dd>
            <dd><a href="{{ url_for('jobsubmit.complexsub') }}">大作业</a></dd>
            <dt>作业查询</dt>
            <dd><a href="#">已完成</a></dd>
            <dd><a href="{{ url_for('search.home')}}">正在进行</a></dd>
        </dl>
    </div>
    <div class="rightcent">
        <h2>Welcome.There are some message!</h2>
        <h4>...</h4>
    </div>
    </div>
{% endblock %}