{% extends "base.html" %}
{% block title %}
    首页
{% endblock %}

{% block extra_head %}
    <script type="text/javascript">
    $(function(){
        $("#l2").css("background-color","#ffffff");
    });
    </script>
    <style>

    </style>
{% endblock %}

{% block content%}

    <div style="margin:auto; padding: 0px; width: 100%;text-align: center;overflow:hidden">
    <div class="leftnav">
        <dl>
            <dt>通知</dt>
            <dd><a href="{{ url_for('jobsubmit.usermessage') }}">用户通知</a></dd>
            <dt>作业提交</dt>
            <dd><a href="{{ url_for('jobsubmit.simplesub') }}">简单作业</a></dd>
            <dd><a href="{{ url_for('jobsubmit.complexsub') }}">大作业</a></dd>
            <dt>作业查询</dt>
            <dd><a href="#">已完成</a></dd>
            <dd class="selectnav"><a href="{{ url_for('search.home')}}">正在进行</a></dd>
        </dl>
    </div>
    <div class="rightcent">
    <table class="table">
        <caption>作业列表</caption>
        <thead>
            <tr>
                <th>作业Id</th>
                <th>作业状态</th>
                <th>Progress</th>
                <th>输出文件</th>
            </tr>
        </thead>

        <tbody>
        {%for job in job_info%}
            <tr>
                <td>{{job['ClusterId']}}</td>
                <td>{{job['JobStatus']}}</td>
                <td>
                    <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60"
                        aria-valuemin="0" aria-valuemax="100" style="width: {{job['progress']}};">
                        <span class="sr-only">40% 完成</span>
                    </div></div>
                </td>
                <td><a href="#">{{job['JobOut']}}</a></td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
    </div>
    </div>
{% endblock %}

